In [1]:
# .sort Extesnion Used
alphaList=[32,26,56,76,2,89,78,4]
alphaList.sort()
alphaList

[2, 4, 26, 32, 56, 76, 78, 89]

In [3]:
#  A None List
alphaList=[27,34,56,7,4,3,8,9,98]
sortedList=alphaList.sort()
sortedList
print(sortedList)

None

In [6]:
#  Silicing A List
alphaList=[45,67,89,34,23,9,3,6,5,12]
alphaList[0:15]

[45, 67, 89, 34, 23, 9, 3, 6, 5, 12]

In [8]:
# Tuple Example
# Tuple Are Like A couple Which Means They Connot Be Change

my_Tuple=(1,2,3)
my_Tuple[0:4]

(1, 2, 3)

In [10]:
# Or An ANother Tuple

another_tuple=tuple()

In [11]:
#  Tuple Casting Which Means List Inside A Tuple
abc=tuple([1,2,3])

In [15]:
#  Dictionary Values
my_other_dict={"one":1,"two":2,"Three":3 }

my_other_dict

{'one': 1, 'two': 2, 'Three': 3}

In [ ]:
dict={"name":"Sufiyan","Adress":""}