In [1]:
# String Silicing 

my_string="my Country is Pakistan"

my_string[0:25]

'my Country is Pakistan'

In [5]:
# String Silicing Reverse

my_string='my Country is Pakistan'
my_string[0:-13]

'my Countr'

In [7]:
# My Value One Word pick Up (string Silicing)

my_value='Hello This is My Country Pakistan'
print(my_value[6])

T

In [2]:
# String Silicing Completed
#  String Substitution Start

In [4]:
# The Old Woy Of String Substitution Step 1

my_Name="my Name is %s" % 'Sufiyan'

my_Name

'my Name is Sufiyan'

In [5]:
#The Old Way Of String Substitution Step 2

var='cookies'
my_favourite="i Like %s" % var

my_favourite

'i Like cookies'

In [3]:
# The Old Way Of String Substitution Step 4
 
Hello='hi'
new_string='hello and %s or %s' % (Hello, "Sufiyan Bawanny")
new_string

'hello and hi or Sufiyan Bawanny'

In [5]:
# For Integers Only
for_integer="%i+%i=%i"%(1,2,3)
for_integer

'1+2=3'

In [1]:
only_integer="%i+%i=%i"%(2,4,8)
only_integer

'2+4=8'

In [2]:
#For Float Only
my_float="%f"%(1.23)
my_float

'1.230000'

In [5]:
#for ANother FLoat
other_float="%.2f"%(1.234)
other_float

'1.23'

In [6]:
# More Examples With Number
print("%(x)i+%(y)i=%(z)i"%{"x":1,"y":2,"z":3})

1+2=3

In [3]:
#?another Example

xy={"x":10,"y":12}
print("graph a point where x={x} and y={y}".format(**xy))

graph a point where x=10 and y=12

In [2]:
xy={"x":11,"y":12}
print("graph a point where x={x} an y={y}".format(**xy))

graph a point where x=11 an y=12